#Here we are listing all libs that we will use in this project, even it is in other version. Running the commands below the requirements.in will create requirements.txt and install/update all libs in project (use this with caution, some updates may change features and functions that are needed in the project).

# pip install pip-tools
# pip-compile --upgrade --resolver=backtracking requirements.in
# pip install --upgrade -r requirements.txt

Flask
holidays
pip install lxml_html_clean
polygon-api-client
redis
requests_html
setuptools
unittest
